<div class="imageDiv">
  <img src="../../assets/img/timeback.png" class="timeImage" />
</div>

<div class="container">
  <div class="contentDiv">
    <h1>Manage Your Time</h1>
  </div>
  <div class="paregraphDiv">
    <p class="pareg">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus nesciunt
      neque itaque alias beatae. Temporibus quia dicta consectetur maxime id,
      hic iusto eum commodi! Facere, maiores sequi voluptas, tempore veniam
      consequatur dolores eius, hic enim qui ut quae id dolorem ducimus labore
      odio assumenda. Ut tempore assumenda minus distinctio ab!
    </p>
  </div>
  <button class="showButton">
    <a target="_blank" routerLink="/home">Show Your Works</a>
  </button>
  
</div>
